
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  line-height: 1.8;
  font-weight: normal;
 background-color: rgb(255, 248, 38);
  position: relative;
 
  padding: 0; 
}


.navbar {
  display: flex;
  flex-direction: row;
  background-color: #808d95;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  align-items: center;
  min-height: 60px;
  padding-left: 25px;
  font-size: large;
  color: black;
  text-decoration: none;
}
.navbar-items {
  display: flex;
  flex-direction: row;
 
  margin-left: 20px;
  margin-right: 20px;

  text-decoration: none;
  color: black;
  font-size: large;

}
.navbar-items:hover {
  display: flex;
  flex-direction: row;
 
  margin-left: 20px;
  margin-right: 20px;

  text-decoration: none;
  color: #474747;
  font-size: large;

}

.zadaci{
  margin: 10%;
  padding-bottom: 150px;
}
 tr> td{
  height: 75px;
  text-align: center;
}
tr>th{
  text-align: center;
}
.dugme{
    
  color: rgb(30, 2, 2);
}

 
 
.container{
  margin-top: 10%;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 5%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 248, 38);
  width: 30%;
  height: 100px;
}

#root {
  background-color: #f2e4cc;
}

.navbar {
  background-color: #ffa100!important;
}
